---
---

<h1 id="infowindows">InfoWindows</h1>
<div class="row example">
  <div class="span8 app-source" app-source="infowindows.html infowindows.js infowindows.css" module="infowindows"></div>
  <div class="span4">
    <span class="pull-right" js-fiddle="infowindows.html infowindows.js infowindows.css" module="infowindows"></span>
    <div class="tabs-spacer"></div>
    <div app-run="infowindows.html" module="infowindows" class="well"></div>
  </div>
</div>
{% include infowindows/infowindows.example %}

