---
---

<h1 id="map-with-markers">Map With Markers</h1>
<div class="row example">
  <div class="span8 app-source" app-source="map_with_markers.html map_with_markers.js map_with_markers.css" module="map-with-markers"></div>
  <div class="span4">
    <span class="pull-right" js-fiddle="map_with_markers.html map_with_markers.js map_with_markers.css" module="map-with-markers"></span>
    <div class="tabs-spacer"></div>
    <div app-run="map_with_markers.html" module="map-with-markers" class="well"></div>
  </div>
</div>
{% include markers/map_with_markers.example %}

<h1 id="drag-markers">Drag Markers</h1>
<div class="row example">
  <div class="span8 app-source" app-source="drag_markers.html drag_markers.js drag_markers.css" module="drag-markers"></div>
  <div class="span4">
    <span class="pull-right" js-fiddle="drag_markers.html drag_markers.js drag_markers.css" module="drag-markers"></span>
    <div class="tabs-spacer"></div>
    <div app-run="drag_markers.html" module="drag-markers" class="well"></div>
  </div>
</div>
{% include markers/drag_markers.example %}

<h1 id="filter-markers">Filter Markers</h1>
<div class="row example">
  <div class="span8 app-source" app-source="filter_markers.html filter_markers.js filter_markers.css" module="filter-markers"></div>
  <div class="span4">
    <span class="pull-right" js-fiddle="filter_markers.html filter_markers.js filter_markers.css" module="filter-markers"></span>
    <div class="tabs-spacer"></div>
    <div app-run="filter_markers.html" module="filter-markers" class="well"></div>
  </div>
</div>
{% include markers/filter_markers.example %}

