body {
  padding-top: 40px;
}

.navbar-fixed-top .container {
  width: 940px;
}

.footer p {
  margin: 0;
}

form.jsfiddle {
  display: inline;
}

code.nocode {
  display: inline-block;
  background-color: #99c2ff;
  border: 1px solid #7699d1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #223f7a;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e1e1e8;
}

.examples-container {
    margin-left: auto; 
    margin-right: auto; 
    width: 1175px;
}

.example {
  margin-top: 1em;
}

.tabs-spacer {
  height: 60px;
}

.app-source {
  min-height: 375px;
}
